.menu {
    display: flex;
    text-decoration: none;
    width: 20%;
    margin: 0 auto;
}


ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    width: 100%;
}

ul li a {
    font-size: 18px;
    color: #000000;
    text-decoration: none;
}

ul li a:hover, ul li a.active {
    color: blue;
}
